<!DOCTYPE html>
<html>
    <head>
        <title>{{company_name}} Portel</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <style>
            #banner {
                height: 360px;
                width:100%;
                object-fit:cover;
                margin-bottom:14px;
            }
        </style>
    </head>
    <body>
        {% include "nav.html" %}
        <img class="img-fluid" id="banner" src="\static\img_banner.webp" height="320">
        <div class="container">
        <h1 class="text-center mt-2 mb-4">Job Portel</h1>
        <h2 class="text-center mt-2 mb-4">About this Portel</h2>
        <div class="row" style="margin-bottom:16px">
        <div class="col-md-6">
        <p class="lead">We're dedicated to connecting talented individuals with exciting career opportunities across diverse fields, from tech and data to design and operations. Explore our current job openings and find a role that aligns with your skills and passion. Each listing provides a detailed overview, including location, salary, and key responsibilities. Applying is easy  simply click on a job that interests you and submit your application directly on our site. Join us to make an impact, grow your career, and be part of a dynamic, forward-thinking team. At [Your Company Name], we value innovation, collaboration, and a commitment to excellence. Your dream job might be just a click away! </p>
        </div>
        <div class="d-none d-md-block col-md-6">
            <img src="/static/people.avif" style="height:320px; border-radius:4px; ">
        </div>
        <h2 class="text-center mt-2 mb-4">Job Openings<h2>
            <p>
                {% for job in jobs %}
                    {% include "jobs.html" %}
                {% endfor %}
            </p>
            
        <div class="text-center">
            <a class="btn btn-primary btn-lg" href="mailto:hello@danish.ai">Contact Us</a>
            <p class="mt-4">Copyright 2020.this</p>
        </div>
    </div>
    {% include "footer.html" %}
    </body>
</html>